<html>
<body style="background-color:GhostWhite;">
<head>
	<style>
    body {
        text-align: center;
        padding: 60px 0;
        margin: 0 auto;
        font-family: Calibri, sans-serif;
    }
    h1 {
        margin: 0;
        font-weight: 900;
        font-size: 34px;
        line-height: 48px;
        color: #231d3c;
        font-family: Calibri, sans-serif;
    }
     h2 {
        columns: #7d53ef;
        font-size: 26px;
        line-height: 48px;
        margin: 0;
        font-family: Calibri, sans-serif;
    }
	</style>
	<title>results</title>
</head>
<body>

<h1> We're pleased to inform you that you're likely to get admitted.</h1>
<h2>Congratulations, enjoy the <i>best years of your life</i>!</h2>
<img src="https://media.giphy.com/media/blSTtZehjAZ8I/giphy.gif" width="250" height="193" name="image1">

<p><a href="{{ url_for('disclaimer') }}">Disclaimer.</a></p>
</body>
</html>